<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<%= link_to 'New Photo', new_photo_path %>

<hr />

<% @photos.each do |photo| %>
  <%= link_to photo do %>
    <%= image_tag photo.image.variant(resize: "300x300") %>
  <% end %>
<% end %>
